#evos{
    height: 180px;
    width: 140px;
    margin-top: 10px;

}
#numeroevo{
  font-size: 10px;  
}
#nomeevo{
    font-size: 10px;
}
#imgevo{
    position: relative;
    top: 10%;
    left: 15%;
    width: 70%;
}
.text{
    font-size: 15px;
}