body {
    margin: 0;
    background-color:#444653 ;  
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.area > button{
    width: 20%;
    margin-left: 40%;
    margin-top: 15px;
}
.area2 > input{
    width: 20%;
}

.ata {
    width: 50%;
}

.pontos {
    margin-left: 178px;
    margin-top: 15px;
}
