body {
    margin: 0;
    background-color:#818497 ;  
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.area > button{
    width: 25%;
    margin-left: 37.5%;
    margin-top: 15px;
    background-color: #6ba8e5;
    color: #fff;
}
#nome {
    width: 25%;
    height: 40px;
    font-size: 25px;
    margin-left: 37.5%;
    
}

.pontos {
    margin-left: 178px;
    margin-top: 15px;
}
.pokemon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    margin-top: 20px;
    background: #b8e1fc;
    background: -moz-linear-gradient(left, #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 41%, #6ba8e5 46%, #6ba8e5 57%, #a2daf5 83%, #bdf3fd 100%);
    background: -webkit-linear-gradient(left, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 41%,#6ba8e5 46%,#6ba8e5 57%,#a2daf5 83%,#bdf3fd 100%);
    background: linear-gradient(to right, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 41%,#6ba8e5 46%,#6ba8e5 57%,#a2daf5 83%,#bdf3fd 100%);
    box-shadow: 0px 5px 10px 11px #000;
    margin-bottom: 40px;
}

.types{
    list-style-type: none;
}